:root {
    --white-color: #fff;
    --black-color: #000;
    --header-height: 62px;
    --primary-color: #1791cc;
}


* {
    box-sizing: inherit;
}

body {
    margin: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* header  */
.header {
    height: var(--header-height);
    padding: 8px;
    margin-bottom: 16px;
    box-shadow: 0 4px 4px rgb(88 88 88 / 18%);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}

.header__item-category {
    position: relative;
}

.header__menu-input {
    display: none;
}

.header__menu-input:checked~.header__item-menu {
    display: block;
}

.header label {
    cursor: pointer;
}

.header__item-menu {
    position: absolute;
    top: 78px;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    animation: slide linear 0.3s;
    box-shadow: 0 10px 18px 0 rgb(5 16 44 / 15%);
    background-color: var(--white-color);
    display: none;
}

@keyframes slide {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        height: 100%;
        opacity: 1;
    }
}

.header__search-input {
    display: none;
}

.header__search-input:checked~.header__item-search {
    display: block;
}

.header__item-search {
    position: absolute;
    top: 78px;
    left: 0;
    right: 0;
    height: 100%;
    animation: slide linear 0.3s;
    box-shadow: 0 10px 18px 0 rgb(5 16 44 / 15%);
    background-color: var(--white-color);
    z-index: 1;
    display: none;
}

.header__menu-list {
    padding: 16px;
}

.header__menu-link {
    text-decoration: none;
}

.header__menu-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 8px;
    box-shadow: 0 10px 18px 0 rgb(5 16 44 / 15%);
}

.header__menu-list-item:hover .header__menu-img::before {
    display: block;
}

.header__menu-list-item-img {
    display: block;
    margin: 10px auto;
    width: 60px;
}

.header__menu-img {
    position: relative;
}

.header__menu-img::before {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    left: -10px;
    bottom: 0px;
    width: 100%;
    border-radius: 100%;
    z-index: 1;
    border: 10px solid var(--primary-color);
    animation: bulb 1s 1 forwards;
    -webkit-animation: bulb 1s 1 forwards;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    display: none;
}

@-webkit-keyframes bulb {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0.55;
    }

    100% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0;
    }
}

@keyframes bulb {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0.55;
    }

    100% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0;
    }
}

.header__menu-list-name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-color);
}

.header__menu-utilities {
    margin: 0;
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 700;
}

.header__menu-desc {
    margin: 12px 0 16px;
    font-size: 1.6rem;
    font-weight: 400;
}

.header__menu-utilities-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header__menu-link:hover .header__menu-icon::after {
    display: block;
}

.header__menu-icon {
    position: relative;
    font-size: 2.4rem;
    border: 10px solid #e3f2f9;
    border-radius: 100%;
    background-color: #e3f2f9;
    color: var(--primary-color);
}

.header__menu-icon::after {
    content: "";
    position: absolute;
    right: 0px;
    top: -16px;
    left: -14px;
    bottom: 0px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    z-index: 1;
    border: 10px solid var(--primary-color);
    animation: bulb 1s 1 forwards;
    -webkit-animation: bulb 1s 1 forwards;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    display: none;
}

.header__menu-utilities-name {
    display: block;
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
}

.header__list-item-icon {
    font-size: 2.2rem;
    color: var(--primary-color);
    margin-bottom: 10px;
    padding: 0 15px;
}

.header__list-item-name {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--primary-color);
}

.header__logo-link-img {
    width: 120px;
}

/* header__item-search  */
.header__search {
    display: flex;
    align-items: center;
    margin: 24px 0 8px;
}

.header__select {
    display: flex;
    padding: 0 15px;
}

.header__item-search-icon {
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    background-color: #dc3545;
}

.header__item-search-icon-item {
    font-size: 1.8rem;
    color: var(--white-color);

}

.header__item-select {
    height: 40px;
    width: 350px;
    font-size: 1.6rem;
    font-weight: 500;
    color: #495057;
    padding: 6px 12px;
    border: 1px solid #dc3545;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.header__search-item {
    display: flex;
    padding: 0 15px;

}

.header__item-input {
    height: 40px;
    width: 350px;
    border-radius: 0;
    -webkit-border-radius: 0;
    font-size: 1.6rem;
    font-weight: 500;
    color: #495057;
    padding: 6px 12px;
    border: 1px solid #dc3545;
    outline: none;
}

.header__item-select:focus,
.header__item-input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.header__button {
    padding: 0 15px;
}

.header__button-item {
    cursor: pointer;
    font-size: 1.4rem;
    color: var(--white-color);
    height: 40px;
    width: 114px;
    background-color: #dc3545;
    outline: none;
    border: #dc3545;
}

.header__button-item:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

/* nav  */
.nav__img {
    position: relative;
    margin: 8px 0;
}

.nav__img-picture--red,
.nav__img-picture--blue,
.nav__img-picture--green {
    position: relative;
}

.nav__img-picture--blue::after {
    position: absolute;
    content: "";
    inset: 0;
    background: linear-gradient(to bottom left, rgb(23 145 204), rgb(32 147 201 / 40%));
    background: -moz-linear-gradient(bottom left, rgb(23 145 204), rgb(32 147 201 / 40%));
    background: -webkit-linear-gradient(bottom left, rgb(23 145 204), rgb(32 147 201 / 40%));
}

.nav__img-picture--red::after {
    position: absolute;
    content: "";
    inset: 0;
    background: linear-gradient(to bottom left, rgb(207 27 58), rgb(212 24 54 / 43%));
    background: -moz-linear-gradient(bottom left, rgb(207 27 58), rgb(212 24 54 / 43%));
    background: -webkit-linear-gradient(bottom left, rgb(207 27 58), rgb(212 24 54 / 43%));
    background: -o-linear-gradient(bottom left, rgb(207 27 58), rgb(212 24 54 / 43%));
}

.nav__img-picture--green::after {
    position: absolute;
    content: "";
    inset: 0;
    background: linear-gradient(to bottom left, rgb(8 161 72), rgb(0 161 75 / 22%));
    background: -moz-linear-gradient(bottom left, rgb(8 161 72), rgb(0 161 75 / 22%));
    background: -webkit-linear-gradient(bottom left, rgb(8 161 72), rgb(0 161 75 / 22%));
    background: -o-linear-gradient(bottom left, rgb(8 161 72), rgb(0 161 75 / 22%));
}

.nav__category:hover~.nav__img::before {
    display: block;
}

.nav_img-fluid {
    position: relative;
    width: 100%;
    height: 222px;
}

.nav__category {
    position: absolute;
    inset: 0;
    padding: 16px;
}

.nav__category:hover .nav__form::before {
    display: block;
}

.nav__category:hover .nav__form-caption::before {
    display: block;
}

.nav__form {
    position: relative;
}

.nav__form::before {
    position: absolute;
    content: "";
    top: -12px;
    right: 1px;
    bottom: -18px;
    left: 0px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    animation: topbot linear 0.35s;
    -webkit-animation: topbot linear 0.35s;
    transition: 0.8s;
    display: none;
}

.nav__form-caption::before {
    position: absolute;
    content: "";
    top: -12px;
    right: 1px;
    bottom: -18px;
    left: 0px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    animation: leftright linear 0.35s;
    -webkit-animation: leftright linear 0.35s;
    transition: 0.8s;
    display: none;
}

@-webkit-keyframes topbot {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes topbot {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@-webkit-keyframes leftright {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}

@keyframes leftright {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}

.nav__form-caption {
    margin-top: 12px;
    padding-left: 16px;
    line-height: 2.4rem;
    border-left: 2px solid var(--white-color);
}

.nav__form-category {
    font-size: 1.7rem;
    color: var(--white-color);
}

.nav__form-heading {
    margin: 0;
    font-size: 2.6rem;
    font-weight: 700;
    color: var(--white-color);

}

.nav__form-item {
    padding-left: 16px;
    max-width: 300px;
}

.nav__form-desc {
    font-size: 1.7rem;
    line-height: 2.4rem;
    display: block;
    margin: 8px 0 16px;
    color: var(--white-color);
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.nav__form-link {
    font-size: 1.2rem;
    padding: 8px 10px;
    border-radius: 20px;
    color: #444;
    background-color: var(--white-color);
    text-decoration: none;
}

/* content  */
.content {
    padding-top: 8px;
}

.content__form {
    margin-top: 20px;
    padding: 0 15px;
}

.content__form-list {
    padding: 16px;
    box-shadow: 0 10px 18px 0 rgb(5 16 44 / 15%);
}

.content__heading {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
}

.content__desc {
    display: block;
    margin: 12px 0 16px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4rem;
    color: var(--black-color);
}

.content__form-list-item-img {
    width: 100%;
    border-radius: 4px;
}

.content__form-list-item-name {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2rem;
    color: #343a40;
    margin: 8px 0 4px;
    text-decoration: none;
    max-height: 6.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.content__form-list-item-icon {
    color: var(--primary-color);
}

.content__form-list-item-date {
    display: block;
    color: var(--primary-color);
    font-size: 1.2rem;
    padding-top: 8px;
    margin: 0 0 20px;
}

.content__form-category-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #0000000a;
}

.content__form-category-item:first-child {
    margin-top: 0;
    padding-top: 0;
}

.content__form-category-item-name {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: var(--black-color);
    text-align: left;
    max-height: 7.2rem;
    text-decoration: none;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.content__form-category-item-img {
    width: 100%;
    border-radius: 4px;
}

.text__center {
    margin-top: 16px;
    text-align: center;
}

.text__center-link {
    display: inline-block;
    width: 120px;
    font-size: 1.4rem;
    border-radius: 30px;
    color: var(--white-color);
    text-decoration: none;
    padding: 8px 10px;
    margin-bottom: 10px;
    background-color: var(--primary-color);
}

.content__menu {
    padding: 16px;
    box-shadow: 0 10px 18px 0 rgb(5 16 44 / 15%);
}

.content__menu-img {
    display: block;
    padding: 8px;
    text-decoration: none;
}

.content__menu-img-item {
    height: auto;
    max-width: 100%;
    object-fit: contain;
    box-shadow: 0 10px 18px 0 rgb(5 16 44 / 15%);
}

.container {
    margin: 16px 0;
    padding: 16px 0;
    background-color: #f8f9fa !important;
}

.container__form {
    padding: 0 15px;
}

.container__item {
    height: 100%;
    box-shadow: rgb(34 34 34 / 7%) 3px 3px 9px 0px;
}

.container__img {
    width: 100%;
    height: auto;
}

.container__info {
    padding: 8px;
}

.container__info-name {
    display: block;
    text-decoration: none;
    font-size: 1.7rem;
    line-height: 2rem;
    max-height: 4rem;
    color: #444;
    font-weight: 600;
    margin: 10px 0 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.container__info-entry-category {
    font-size: 1.4rem;
    color: #999;
}

.container__info-icon {
    font-size: 1.3rem;
}

.container__info-link {
    text-decoration: none;
    color: #999;
}

/* footer  */
.footer {
    padding-top: 8px;
    margin-top: 16px;
}

.footer__container {
    padding: 0 15px;
}

.footer__form {
    margin: 4px 0;
    border: 1px solid #17a2b8;
}

.footer__form-info {
    border-left: 1px solid #17a2b8;
}

.footer__form-icon {
    display: flex !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.footer__form-icon-item {
    margin: auto;
    font-size: 4rem;
    color: #17a2b8;
}

.footer__form-heading {
    display: flex;
    padding: 8px 8px 4px;
}

.footer__form-heading strong {
    font-size: 1.6rem;
    font-weight: 500;
    color: #17a2b8;
}

.footer__form-time {
    font-size: 1.4rem;
    font-weight: 400;
    color: #17a2b8;
    margin-left: 4px;
}

.footer__form-desc {
    padding: 8px;
    font-size: 1.6rem;
    font-weight: 400;
    color: #17a2b8;
    line-height: 1.3;
    border-bottom: 1px solid #17a2b8;
}

.footer__form-contact::before {
    position: absolute;
    content: "";
    width: 1px;
    right: -1px;
    top: -1px;
    border-top: 1px solid #17a2b8;
}

.footer__form-contact--red,
.footer__form-contact {
    position: relative;
    display: flex;
    padding: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__form-contact-icon {
    display: flex;
    background-color: #17a2b8;
    height: 38px;
    width: 48px;
}

.footer__form-contact-icon i {
    color: var(--white-color);
    font-size: 1.8rem;
    margin: auto;
}

.footer__form-contact-email {
    display: flex;
    height: 38px;
    font-weight: 400;
    border: 1px solid #17a2b8;
    padding: 6px 12px;
    flex: 1;
    width: 1%;
    align-items: center;
    justify-content: flex-start;
}

.footer__form-contact-email-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--black-color);
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer__form-button {
    border: none;
    text-align: center;
    height: 38px;
    padding: 6px 12px;
    margin: 0 8px 0 8px;
    color: var(--white-color);
    background-color: #17a2b8;
}

.footer__form-button:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
    cursor: pointer;
}

.footer__form-button-danger:hover {
    color: #fff;
    background-color: #c82333 !important;
    border-color: #bd2130;
}

.footer__form-contact-email-input {
    display: flex;
    flex: 1;
    width: 100%;
    padding: 6px 12px;
    font-size: 1.4rem;
    font-weight: 500;
    border: 1px solid #dc3545;
    text-align: left;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer__form-contact-email-input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.footer__copyright {
    margin-top: 12px;
}

.footer__copyright-right,
.footer__copyright-left {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 8px;
}

.footer__copyright-left {
    justify-content: flex-end;
    background-color: #1791cc;

}

.footer__copyright-right {
    justify-content: flex-start;
    background-color: #d41836;
}

.footer__copyright-right-text,
.footer__copyright-left-text {
    color: var(--white-color);
    font-size: 1.7rem;
}

.footer__copyright-right-text {
    position: relative;
}

.footer__copyright-right-text::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #1791cc;
    left: -8px;
    top: -1px;
}

/* Table and moblie  */
@media (max-width: 63.9375em) {
    .header__search {
        flex-wrap: wrap;
        width: 100%;
    }

    .header__select {
        width: 100%;
    }

    .header__search-item {
        margin: 12px 0;
        width: 100%;
    }

    .header__item-select {
        width: 100%;
    }

    .header__item-input {
        width: 100%;
    }

    .header__button {
        width: 100%;
    }

    .header__button-item {
        width: 100%;
    }

    .mar-lr-0 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .header__item-menu {
        height: auto;
    }

    .header__menu-list {
        padding: 16px 16px 50px;
    }
}

/* >= tablet  */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .header__search {
        padding-bottom: 60px;
    }

    .header__item-search {
        height: auto;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {
    .header__list-item.hidden {
        display: none;
    }

    .header__container {
        flex-wrap: nowrap !important;
    }

    .header__list-item {
        padding: 0 !important;
    }

    .row.nav__wrap {
        display: block;
    }

    .nav__form-item {
        max-width: 100%;
    }

    .content__form-list-item-name {
        line-height: 2.6rem;
        max-height: 7.8rem;
    }

    .content__form-category-item {
        margin: 12px 0;
    }

    .content__form-category-item:first-child {
        margin-top: 24px;
    }

    .c-6 {
        margin-bottom: 16px;
    }

    .container__info-name {
        margin-bottom: 4px;
        margin-top: 8px;
    }

    .container__info-entry-category {
        line-height: 2.2rem;
    }

    .footer__form-desc {
        padding-top: 0;
    }

    /* .mar-lr-0 {
        margin-right: 0!important;
        margin-left: 0!important;
    } */
}

@media (max-width: 25em) {
    .pad-left-right {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .header__list-item-name {
        font-size: 1.2rem;
    }

    .header__logo-link-img {
        width: 100px;
    }

    .header__list-item-icon {
        padding: 0 5px;
    }

    .footer__copyright-left-text,
    .footer__copyright-right-text {
        font-size: 1.4rem;
    }

    .footer__form-heading strong {
        font-size: 1.2rem;
    }

    .footer__form-time {
        font-size: 1rem;
    }

    .footer__form-desc {
        font-size: 1.3rem;
    }

    .footer__form-desc strong {
        font-size: 1.2rem;
    }

    .footer__form-button {
        width: 100%;
        height: 28px;
        margin: 8px 0 0;
    }
}
